<phpunit bootstrap="../test/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
>

    <testsuites>
        <testsuite name="Guzzle 6 test suite">
            <directory>../test</directory>
            <directory>test</directory>
        </testsuite>
    </testsuites>

</phpunit>
