<phpunit bootstrap="./test/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
>

    <testsuites>
        <testsuite name="Soap test suite">
            <directory>./test</directory>
        </testsuite>
    </testsuites>

</phpunit>
